.member-dashboard-container {
    background-image: url('https://png.pngtree.com/background/20250228/original/pngtree-d-render-illustration-of-smartphone-integrating-fitness-app-with-sport-equipment-picture-image_13353089.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 16px;
}